<script src="<%=@map%>">
</script>

<script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(
  	<%=@set.lat%>,
  	<%=@set.lng%> * -1
  	),
  zoom:12,
  };
var map=new google.maps.Map(document.getElementById("map-canvas")
  ,mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>



<div class="container" style="background: white; border-style: solid; border-color: black;">
	<div class="row">
		<div style="margin-left: 50px; margin-top: -20px">
			<%= paginate(@photos) %>
		</div>
		<div id="map-canvas" style="width:820px;height:200px;margin-left: 75px; margin-top: -20px; margin-bottom: 15px; border-style: solid; border-color: black" >
		</div>

	</div>
	<div class="row">
		<div class="col-xs-7 col-xs-offset-2">
			<div id="myCarousel" class="carousel slide" style="margin-left: 25px">
			  <ol class="carousel-indicators">
			  	<%@photos.each_index do |photo_index|%>
						<li 
							data-target="#myCarousel"
							data-slide-to="<%=photo_index%>"
							class=<%="active" if photo_index == 0%>
							>
						</li>
					<%end%>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
					<%@photos.each_with_index do |photo, index|%>
						<div
							class="<%=(index == 0) ? 'active item' : 'item' %>"
						>
						<img style="margin-left: 125px" src="<%=photo.image%>">
						</div>
					<%end%>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>
</div>

