<!DOCTYPE html>
<html>
<head>
  <title>BanjoChallenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body style="background: #3D3D5C">

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Banjo Challenge</a>
    	<%unless flash[:errors].nil?%>
    		<%[*flash[:errors]].each do |error|%>
    			<p><%=error%></p>
    		<%end%>
    	<%end%>
      <form action="/photo_sets" method = "post" class="navbar-search pull-right">
	      	<input 
	      	type="hidden"
	      	name="authenticity_token"
	      	value="<%=form_authenticity_token%>">
		      <div style="display: inline-block">
						<label for="set_location">Latitude, logitude:</label>
						<input class="search-query" type="text" id="set_location" name="set[location]" value="<%=(@set) ? "#{@set.lat}, #{@set.lng}" : ''%>">
					</div>
				 	<div style="display: inline-block">
						<label for="set_radius">Search Radius (in km):</label>
						<input class="search-query" type="text" id="set_radius" name="set[radius]" value="<%=(@set) ? @set.radius : ''%>" >
						<input class="btn btn-primary" type="submit" value="Search">
	    		</div>
			</form>
  </div>
</div>



<%= yield %>

</body>
</html>
